<section id="tabs">
  <mat-tab-group>
    
    <mat-tab label="Crear Reunión">
      <div class="outer">
        <div class="inner border">
          <app-assistant></app-assistant>
        </div>
        <div class="inner border">
          <app-assistant-inscription></app-assistant-inscription>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Ver Reuniones">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <h3>Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur</h3>

    </mat-tab>
  </mat-tab-group>
</section>
