#assistants-box ul li{
	float: left;
	width: 180px;
	list-style: none;
}
.assistant-card {
  max-width: 220px;
  text-align: center;
  margin: 10px;
  height: 190px;
}
.assistant-card .profile-img {
	width: 120px;
	border-radius: 50%;
	margin-top: 10px;
}
.mat-tab-label-content {
	font-size: 30px;
	margin-top: 10px;
}